<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справка</title>
</head>
<body>
    <h1></h1>
    <p>Пункты информацинной системы:</p>
    <ul>
        <li><a href="Templates/home.html">Главная страница</a></li>
        <li><a href="Templates/register.html">Регистрация</a></li>
        <li><a href="Templates/login.html">Вход в систему</a></li>
        <li><a href="Templates/medical_report.html">Личный кабинет пациента</a></li>
        <li><a href="Templates/list_of_doctors.html">Информация о врачах</a></li>
        <li><a href="Templates/register_meet.html">Запись на приём</a></li>
    </ul>
</body>
</html>