<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="Templates/doctors_info.html">На главную</a>
    <title>Инструкция по просмотру и поиску определенного врача</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #00557f;
        }
        p {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <a href="Templates/doctors_info.html">На главную</a>
    <h1>Инструкция по просмотру и поиску определенного врача</h1>
    <p>Для просмотра и поиска определенного врача выполните следующие:</p>
    <ol>
        <li>Откройте страницу "Список врачей"</li>
        <li>Прокрутите и найдите определенного врача</li>
        <li>Напишите нужного врача и нажмите "Поиск"</li>
        <li>После успешного поиска вы сможете узнать нужную информацию о враче для записи на прием</li>
    </ol>
</body>
</html>