<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инструкция по входу</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #00557f;
        }
        p {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <a href="Templates/doctors_info.html">На главную</a>
    <h1>Инструкция по входу</h1>
    <p>Для входа в информационной системе выполните следующие шаги:</p>
    <ol>
        <li>Откройте страницу входа, нажав на кнопку "Войти"</li>
        <li>Введите свои имя, фамилию и код медицинской карты,  пароль в соответствующие поля на странице входа.</li>
        <li>Нажмите кнопку "Войти" для входа.</li>
        <li>После успешного входа вы получите сообщение об удачном входе.</li>
    </ol>
</body>
</html>