<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="Templates/doctors_info.html">На главную</a>
    <title>Инструкция по регистрации</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #00557f;
        }
        p {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <a href="Templates/doctors_info.html">На главную</a>
    <h1>Инструкция по личному кабинету пациента</h1>
    <p>Для регистрации на нашем сайте выполните следующие шаги:</p>
    <ol>
        <li>Откройте страницу медицинской карты, нажав на кнопку "Открыть медицинскую карту"</li>
        <li>Если вы не вошли в систему, то войдите.</li>
        <li>В личном кабинете вы можете увидеть подробное описание Вашего последнего приёма у врача.</li>
        <li>Вы можете открыть и просмотреть прошлые посещения больницы</li>
        <li>В своем кабинете можете записаться на приём</li>
        <li>А также нажав на кнопку"Выйти" выйти из системы</li>
    </ol>
</body>
</html>