<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="Templates/doctors_info.html">На главную</a>
    <title>Инструкция записи на прием</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #00557f;
        }
        p {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <a href="Templates/doctors_info.html">На главную</a>
    <h1>Инструкция по записи на приём</h1>
    <p>Для записи на прием выполните следующие шаги:</p>
    <ol>
        <li>Откройте окно Записи на приём</li>
        <li>Заполните необходимые данные, если еще не вошли в систему</li>
        <li>Выберите нужного врача.</li>
        <li>Нажмите кнопку записаться на приём</li>
        <li>После успешной записи Вы получите сообщение. Вам позвонят в ближайшее время для уточнения времени записи</li>
    </ol>
</body>
</html>