<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Инструкция по регистрации</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #00557f;
        }
        p {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <a href="Templates/doctors_info.html">На главную</a>
    <h1>Инструкция по регистрации</h1>
    <p>Для регистрации на нашем сайте выполните следующие шаги:</p>
    <ol>
        <li>Откройте страницу регистрации, нажав на кнопку "Зарегистрироваться"</li>
        <li>Заполните все обязательные поля в форме регистрации, такие как имя, фамилия, отчество, дата рождения, пароль и т.д.</li>
        <li>Нажмите кнопку "Зарегистрироваться" для завершения процесса регистрации.</li>
        <li>После успешной регистрации вы получите сообщение, а также код вашей медицинской карты для входа в свой личный кабинет.</li>
    </ol>
</body>
</html>